body {
  font-family: cursive;
  padding-top: 60px;
}
h1 {
  color: brown;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px;
  margin-inline: 5px;
  border-radius: 61% 39% 66% 34% / 34% 66% 34% 66%;
  background-color: rgb(179, 98, 255);
  color: black;
  transform: rotateZ(-10deg);
  transition: all 0.3s ease-out;
}
a:hover {
  background-color: rgb(157, 53, 255);
  color: white;
  transform: rotateZ(5deg);
}
.features {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 100%;
  margin-bottom: 20px;
  background-color: #ee7a7ad0;
  backdrop-filter: blur(5px);
  z-index: 10;
}
.welcome {
  position: absolute;
  right: 0%;
  padding: 22px;
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0;
  background-color: rgb(179, 98, 255);
  font-size: 1.5rem;
  animation: slideIn 5s 1s ease-out forwards;
}
@keyframes slideIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  30% {
    transform: scaleX(1.5);
    opacity: 1;
  }
  80% {
    transform: scaleX(1.5);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 1;
  }

}
.head {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 80px;
  padding-left: 10px;
}
.head h1 {
  color: white;
  margin-right: 40px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-inline: 10px;
  margin-block: 50px;
}
#location {
  width: 50%;
  height: 60px;
  color: rgb(157, 53, 255);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
}
.form-control:focus {
  border-color: rgb(157, 53, 255);
  box-shadow: 0 0 0 0.25rem rgb(157 53 255 / 25%);
}
#location::placeholder {
  /* width: 50%; */
  color: rgb(157, 53, 255);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.btn-danger {
  padding: 15px;
  border-radius: 61% 39% 66% 34% / 34% 66% 34% 66%;
  text-transform: uppercase;
  transform: rotateZ(-10deg);
  transition: all 0.3s ease-out;
}
a svg {
  transform: scale(2);
}
.btn-danger:hover {
  transform: rotateZ(0deg);
}
.days {
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 20px;
  transition: all 0.3s ease-out;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  aspect-ratio: 1;
  border-radius: 61% 39% 66% 34% / 34% 66% 34% 66%;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #ee7a7a;
  font-size: 3em;
  line-height: 1;
  cursor: pointer;
  transform: rotateZ(-10deg);
  transition: all 0.3s ease-out;
  animation: fadeUp 1s ease-out;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px) rotateZ(-10deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) rotateZ(-10deg);
  }
}
.card:hover {
  transform: rotateZ(0deg);
  background-color: rgb(179, 98, 255);
  color: white;
}
.content{
  display: flex;
  justify-content: center;
}
.details {
  flex: 30%;
  max-height: 1500px;
  margin-top: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all .3s ease-in-out;
}
.details-card{
  display: flex;
  margin-block: 10px;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 10px;
  text-align: center;
  background-color: #ee7a7a;
  animation: fade-left 1s ease-out;
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.details-card:hover{
  background-color: rgb(179, 98, 255);
  color: white;
}
.condition {
  font-size: 1.2rem;
}
.min-temp {
  font-size: 2rem;
}
.icon {
  transform: scale(1.5);
}
.hour{
  padding-right: 10px;
  border-right: 2px solid black;
}
.cardClicked{
  transform: rotateZ(0deg);
  background-color: rgb(179, 98, 255);
  color: white;
}
